/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&display=swap');

/* Variables */
:root {
    --layout-big: 17rem;
    --layout-medium: 3rem;
    --layout-regular: 1.5rem;
    --layout-lite: 0.5rem;

    --font-big: 1.5rem;
    --font-regular: 1rem;

    --musica: #55ABE0;
    --hover: #4C98C7;
    --info: #5863F8;
    --body: #171D1C;
    --footer: #16BAC5;
    --text: #EFE9F4;
    --hover-text: #CEC8DE;
    --active-text: #E2E1FA;
}


::selection {
    color: #B5D8FD;
    background: #4048B8;
}

/* scrollbar */
::-webkit-scrollbar {
    width: var(--layout-lite);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--text);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--hover-text);
}
::-webkit-scrollbar-thumb:active {
    background-color: var(--active-text);
}


/* Layout */
.item1 {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column wrap;
    margin-left: 3vw;
}

.item1a, .item1b {
    flex: 1 1 auto;
    display: flex;
}

.item1a {
    min-height: var(--layout-big);
    padding: var(--layout-regular);
    background-color: var(--info);
    flex-flow: row wrap;
}

.item1b {
    min-height: var(--layout-big);
    padding: var(--layout-lite);
    flex-flow: column wrap;
    margin-bottom: 15vh;
}

.album {
    flex: 1 1 1vw;
    max-width: 15rem;
    min-width: 15rem;
    display: flex;
    flex-flow: row wrap;
    background-image: url(/assets/imgs/album.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    flex: 3 1 10rem;
    display: flex;
    flex-flow: column wrap;
    padding: var(--layout-lite);
    padding-left: var(--layout-regular);
}

.top, .bottom {
    flex: 1 1 auto;
    display: flex;
}

.top {
    flex-flow: column wrap;
}

.top h1:nth-child(1) {
	margin-bottom: var(--layout-regular);
}
.top p:nth-child(2) {
    margin-bottom: var(--layout-lite);
}
.top p:nth-child(3) {
	margin-bottom: var(--layout-regular);
}

.bottom {
    flex-flow: row wrap;
    align-items: flex-end;
    gap: var(--layout-regular);
}

.musica {
    flex: 1 1 2rem;
    min-height: var(--layout-medium);
    max-height: var(--layout-medium);
    display: flex;
    background-color: var(--musica);
    overflow: hidden;
}
.musica:hover {
    background-color: var(--hover);
    cursor: pointer;
}

.musicItens {
    flex: 1 1 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* layout-footer */
.play, .buttons {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
}

.play {
    align-items: center;
}

.albumPlay, .infoPlay {
    display: flex;
}

.albumPlay {
    flex: 1 1 auto;
    max-width: 5rem;
    max-height: 5rem;
    min-height: 5rem;
    background-repeat: no-repeat;
    background-size: cover;
}

.infoPlay{
    flex: 3 1 auto;
    flex-flow: column wrap;
    justify-content: center;
    padding-left: var(--layout-regular);
}
.infoPlay p:nth-child(1) {
    margin-bottom: var(--layout-lite);
}

.buttons {
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
    gap: 5rem;
}
.buttons p:nth-child(3) {
    margin-right: 5rem;
}

/* Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    display: flex;
    flex-flow: column wrap;
    background: var(--body);
}

aside {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    width: 3vw;
    height: 100%;
    padding-bottom: 15vh;
}

main {
    flex: 1 1 auto;
    flex-flow: column wrap;
}

footer {
    display: none;
    /* display: flex; */
    flex-flow: row wrap;
    padding: var(--layout-lite);
    background-color: var(--footer);

    bottom: 0;
    width: 100%;
    height: 15vh;
    position: fixed;

    animation: fadeIn;
    animation-duration: 0.2s;
}

h1, p, a {
    font-family: 'Epilogue', sans-serif;
    font-display: swap;
    color: var(--text);
}

a:hover {
    color: var(--hover-text);
}
a:active {
    color: var(--active-text);
}

p {
    font-size: var(--font-regular);
}

h1 {
    font-size: var(--font-big);
}

i {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

i:hover {
    cursor: pointer;
    color: var(--hover-text);
}
i:active{
    color: var(--active-text);
}

audio {
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
    /* Variables */
    :root {
        --layout-big: 18rem;
        --layout-medium: 3rem;
        --layout-regular: 0.5rem;
        --layout-lite: 1rem;

        --font-big: 1rem;
        --font-regular: 0.75rem;
    }
    
    /* Layout */
    .item1 {
        margin-left: 0rem;
    }

    .item1a {
        flex-flow: column wrap;
        align-items: center;
    }

    .album {
        flex: 3 1 10rem;
        min-width: 10rem;
        min-height: 5rem;
    }

    .info {
        flex: 1 1 auto;
        min-width: 100%;
    }

    .top, .bottom {
        flex-flow: row wrap;
        justify-content: center;
        gap: var(--layout-lite);
    }

    .top {
        flex-flow: column wrap;
        align-items: center;
    }

    .top h1:nth-child(1) {
        margin-bottom: 0rem;
    }
    .top p:nth-child(2) {
        margin-bottom: 0rem;
    }
    .top p:nth-child(3) {
        margin-bottom: 0rem;
    }

    /* Layout-footer*/
    .albumPlay {
        display: none;
    }

    .buttons {
        gap: 1rem;
    }

    .buttons p:nth-child(3) {
        margin-right: 1rem;
    }

    /* Base */
    aside {
        display: none;
    }

    p {
        font-weight: 600;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    /* Variables */
    :root {
        --layout-big: 17rem;
        --layout-medium: 3rem;
        --layout-regular: 0.5rem;
        --layout-lite: 1rem;

        --font-big: 1rem;
        --font-regular: 0.75rem;
    }
    
    /* Layout */
    .item1 {
        margin-left: 0rem;
    }

    .item1a {
        flex-flow: column wrap;
        align-items: center;
    }

    .album {
        flex: 3 1 10rem;
        min-width: 10rem;
        min-height: 5rem;
    }

    .info {
        flex: 1 1 auto;
        min-width: 100%;
    }

    .top, .bottom {
        flex-flow: row wrap;
        justify-content: center;
        gap: var(--layout-lite);
    }

    .top {
        flex-flow: column wrap;
        align-items: center;
    }
    .top h1:nth-child(1) {
        margin-bottom: 0rem;
    }
    .top p:nth-child(2) {
        margin-bottom: 0rem;
    }
    .top p:nth-child(3) {
        margin-bottom: 0rem;
    }

    /* Layout-footer*/
    .albumPlay {
        display: none;
    }

    .buttons {
        gap: 1rem;
    }

    .buttons p:nth-child(3) {
        margin-right: 1rem;
    }

    /* Base */
    aside {
        display: none;
    }

    p {
        font-weight: bold;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    /* Variables */
    :root {
        --layout-big: 16rem;
        --layout-medium: 3rem;
        --layout-regular: 0.5rem;
        --layout-lite: 1rem;

        --font-big: 1.5rem;
        --font-regular: 0.8rem;
    }
    
    /* Layout */
    .item1 {
        margin-left: 0rem;
    }

    .item1a {
        flex-flow: column wrap;
        align-items: center;
    }

    .album {
        flex: 3 1 10rem;
        min-width: 10rem;
        min-height: 5rem;
    }

    .info {
        flex: 1 1 auto;
        min-width: 100%;
    }

    .top, .bottom {
        flex-flow: row wrap;
        justify-content: center;
        gap: var(--layout-lite);
    }

    .top {
        flex-flow: column wrap;
        align-items: center;
    }
    .top h1:nth-child(1) {
        margin-bottom: 0rem;
    }
    .top p:nth-child(2) {
        margin-bottom: 0rem;
    }
    .top p:nth-child(3) {
        margin-bottom: 0rem;
    }

    /* Layout-footer*/
    .albumPlay {
        display: none;
    }

    .buttons {
        gap: 1rem;
    }

    .buttons p:nth-child(3) {
        margin-right: 1rem;
    }

    /* Base */
    aside {
        display: none;
    }

    p {
        font-weight: bold;
    }
}